body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:40px;
  top:20px;
  width:1010px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:151px;
  width:810px;
  height:43px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:43px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:205px;
  top:160px;
  width:10px;
  height:16px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u5 {
  position:absolute;
  left:163px;
  top:164px;
  width:42px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:215px;
  top:164px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:163px;
  top:230px;
  width:297px;
  height:350px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:350px;
}
#u10 {
  position:absolute;
  left:2px;
  top:167px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:600px;
  top:230px;
  width:320px;
  height:350px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:350px;
}
#u12 {
  position:absolute;
  left:2px;
  top:167px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:130px;
  top:220px;
  width:330px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u14 {
  position:absolute;
  left:560px;
  top:220px;
  width:360px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u15 {
  position:absolute;
  left:130px;
  top:204px;
  width:74px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:560px;
  top:204px;
  width:74px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:190px;
  top:263px;
  width:45px;
  height:144px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:144px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:635px;
  top:237px;
  width:45px;
  height:224px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:224px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:190px;
  top:471px;
  width:117px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:317px;
  top:471px;
  width:117px;
  height:16px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:190px;
  top:502px;
  width:117px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:317px;
  top:502px;
  width:123px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:317px;
  top:528px;
  width:123px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:635px;
  top:471px;
  width:117px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:762px;
  top:471px;
  width:117px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:635px;
  top:502px;
  width:117px;
  height:16px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:762px;
  top:502px;
  width:123px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:762px;
  top:528px;
  width:123px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:830px;
  top:38px;
  width:35px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:891px;
  top:38px;
  width:99px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1013px;
  top:38px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:40px;
  top:54px;
  width:1010px;
  height:60px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:337px;
  top:66px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:457px;
  top:66px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:425px;
  top:66px;
  width:10px;
  height:37px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:20px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:37px;
}
#u54 {
  position:absolute;
  left:140px;
  top:66px;
  width:170px;
  height:38px;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u55 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:205px;
  top:194px;
  width:294px;
  height:109px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:109px;
}
#u57 {
  position:absolute;
  left:2px;
  top:46px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:447px;
  top:160px;
  width:129px;
  height:37px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
